#chatbox {
    border: none !important;
    box-shadow: none !important;
}

#user_input {
    background-color: #F8F9FA;
    border-radius: 100px;
    border: 1px #F8F9FA;
    box-shadow: none !important;
    outline: none !important;
    padding: 3px;
}

input {
    background-color: #F8F9FA;
    border: 1px #F8F9FA;
    box-shadow: none !important;
    outline: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

#send_button {
    background-color: #e5e5e5;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

footer {
    display: none !important;
}